<nav id="top_menu" role="navigation" class="top_fixed_menu">
	
	<section class="row info_content">
		<div class="col-md-4">
			<h3>Info:</h3>
			<span><b>Desactualizacao maxima:</b></span>
			<span>Total: <span>{{total_latest_existing_date}}</span></span>	
			<span>Estes resultados: <span>{{this_latest_existing_date}}</span></span>	
			<span><b>Voos com dados:</b></span>
			<span>Total:<span>{{flights_count}}</span></span>
			<span>Estes resultados:<span>{{this_flights_count}}</span></span>
			<br>
			<span>Voos por preencher: <span>{{blank_flights}}</span></span>
			<span>Horas estimadas: <span>{{hours_left}}h</span></span>
			<br>
			<span>Memoria usada: <span>{{mem_usage}}</span></span>

		</div>

	</section>

	<div id="menu_buttons">
		<a id="menu_home_btn" class="glyphicon glyphicon-home"></a>
		<a id="menu_options_btn" class="glyphicon glyphicon-cog"></a>
		<a id="menu_info_btn" class="glyphicon glyphicon-info-sign"></a>
		<a id="menu_going_btn" class="glyphicon glyphicon-search"></a>
		<a id="menu_returning_btn" class="glyphicon glyphicon-plane"></a>
	</div>
</nav>
